.navbar {
    background-color: #9aceaf;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 3px 5px rgba(0 0 0 /10%);
  }
  .pa-fixed-header {
    background-color: #ffffff !important;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
  }

  @media (min-width: 320px) and (max-width: 767px) {
    .maincontent {
      margin-top: 100px;
    }
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .pa-fixed-header {
      background-color: #ffffff !important;
      -webkit-transition: background-color 1s ease-out;
      -moz-transition: background-color 1s ease-out;
      -o-transition: background-color 1s ease-out;
      transition: background-color 1s ease-out;
    }
  }